<!-- Component affichant le header de la page -->
<nav class="navbar navbar-expand-md flex-md-row navbar-light bg-light">
  <!-- Ancre vers home page -->
  <a class="navbar-brand mb-0 h1" routerLinkActive="active" routerLink="my-to-do-list">&#9733; {{title}} &#9733;</a>

  <!-- Bouton toggle responsive pour le menu -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Bouton de connexion ou création de compte -->
  <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav ml-md-auto">
      <a *ngIf="!isAuth" class="nav-item nav-link" routerLinkActive="active" routerLink="auth/signup">Créer un compte</a>
      <a *ngIf="!isAuth" class="nav-item nav-link" routerLinkActive="active" routerLink="auth/signin">Connexion</a>
      <a *ngIf="isAuth" class="nav-item nav-link" (click)="onSignOut()" style="cursor:pointer">Déconnexion</a>
    </div>
  </div>
</nav>
