<!-- Component gérant la liste des tâches faites-->
<div class="card">
  <div class="card-body">
    <div class="row">
      <span class="col-sm-12 d-flex justify-content-center">
        <h3 class="card-title">{{title}}</h3>
      </span>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul class="list-group list-group-flush">
          <tdl-task-done
          *ngFor="let task of taskArray; let i = index"
          [name]="task.name"
          [status]="task.status"
          [id]="task.id"
          [index]="i"></tdl-task-done>
        </ul>
      </div>
    </div>
  </div>
</div>
