<div class="row">
  <div class="col-sm-8 offset-2">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <legend class="card-title">Créer un compte</legend>
            <div class="form-group">
              <label for="email">Adresse email :</label>
              <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp" placeholder="Entrez votre email">
            </div>
            <div class="form-group">
              <label for="password">Mot de passe :</label>
              <input type="password" class="form-control" formControlName="password" id="password" placeholder="Mot de passe">
            </div>
            <button type="submit" class="btn btn-primary" title="valider" [disabled]="signUpForm.invalid">S'inscrire</button>
          </fieldset>
        </form>
        <p class="text-danger">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>
