<!-- Component gérant uniquement la zone d'ajout d'une tâche -->
<!-- Bouton cliquable pour l'affichage de l'input pour entrer une nouvelle tâche -->
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary btn-md" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="isCollapsed" aria-controls="addTaskForm" title="ajouter">
      <p id="pTitle" class="h2">{{title}} <i class="material-icons" id="btnAdd">library_add</i></p>
      </button>
    </div>
  </div>
</div>

<!-- Zone pour entrer une nouvelle tâche -->
<div id="addTaskForm" [ngbCollapse]="isCollapsed">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onAddTask(f)" #f="ngForm">
            <div class="form-group row">
              <label for="taskToAdd" class="col-12 col-md-2 col-form-label">Nouvelle tâche :</label>
              <div class="col-12 col-md-9">
                <input type="text" class="form-control" id="taskToAdd" name="taskToAdd" aria-describedby="taskFieldHelp" placeholder="Une tâche à faire" required [(ngModel)]="taskToAdd">
              </div>
              <button type="submit" title="valider" class="btn btn-primary col-12 col-md-1" [disabled]="f.invalid">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
