<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-primary btn-lg btn-block">
      <span class="h2">
        {{navbar.title}}
        <i class="material-icons">
          library_add
        </i>
      </span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onAddTask(f)" #f="ngForm">
      <fieldset>
        <div class="form-group">
          <label name="taskToAdd">
            Nouvelle tâche :
          </label>
          <input type="text" class="form-control" id="taskToAdd" name="taskToAdd" aria-describedby="taskFieldHelp" placeholder="Une tâche à faire" required ngModel>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Ajouter</button>
      <!-- <button type="submit" class="btn btn-primary" (click)="onAddTask($event)">Ajouter</button> -->
    </form>
  </div>
</div>
