<li *ngIf="!status" class="list-group-item">
  <div class="row">

    <div class="col-sm-8">
      <p>{{name}} | Tâche n° : {{id}}</p>
    </div>

    <!-- Penser à gèrer l'affichage de ce bloc si tâche ajoutée -->
    <div class="col-sm-4">
      <!-- Bouton Modifier -->
      <button
       type="button" class="btn btn-outline-primary btn-lg col-sm-4"><i class="material-icons d-flex justify-content-center">
        edit
      </i></button>

      <!-- Bouton supprimer tâche -->
      <button
       type="button" class="btn btn-outline-primary btn-lg col-sm-4"
       (click)="removeTask(id)"><i class="material-icons d-flex justify-content-center">
        delete_forever
      </i></button>

      <!-- Bouton tâche faite -->
      <button type="button" class="btn btn-outline-primary btn-lg col-sm-4" id="lastButton" (click)="changeStatus(id)"><i class="material-icons d-flex justify-content-center">
        done_outline
      </i></button>
    </div>
  </div>
</li>
