<p>{{taskToDo}}</p>

<!-- <div *ngFor="let obj of tasks
  ToDo" class="row">
  <p class="col-sm-6 col-12">{{obj.name}}</p>
  <button type="button" class="btn btn-outline-primary btn-lg col-sm-2 col-4"><i class="material-icons d-flex justify-content-center">
    edit
  </i></button>
  <button type="button" class="btn btn-outline-primary btn-lg col-sm-2 col-4"><i class="material-icons d-flex justify-content-center">
    delete_forever
  </i></button>
  <button type="button" class="btn btn-outline-primary btn-lg col-sm-2 col-4"><i class="material-icons d-flex justify-content-center">
    done_outline
  </i></button>

</div> -->
